%div.answer
  %div.answerContainer{:id => "#{@planNumber}"}
    %p#outline
      Your debt will be paid off by: 
      %p#inline
        #{@month}, #{@year}.
    %p#outline
      You will pay a total of <span id = "interest">$#{@interest}</span> in interest