@import 'bootstrap';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require jquery-ui
 *= require_self
 *= require_tree .
 *
 */

#tabs {
  float:left;
  position: relative;
  width: 1500px;
  margin-bottom: 10px;
}
.btn {
	margin-top: 2px;
}

.tableContents {
  display: none;
}
.labelContainer {
	float: left;
	position: relative;
	text-align: justify;
	margin: 2px;
	width: 1000px;
}

.labels {
 	width: 150px;
 	display: inline-block;
 	vertical-align: top;
 	margin: 10px;
 	
 }
 
.calculator {
	position: relative;
	float: left;
	padding: 2px;
	width: 750px;
	border: 2px solid black;
	margin: 5px;
}

.response {
	position: relative;
	float: right;
	width: 25%;
	border: 2px solid black;
	float: left;
	margin: 5px;
	padding: 2px;
}

#inline {
	text-align: center;
	color: red;
	font-size: 20px;
}

#outline {
	text-align: center;
}

#interest {
	color: red;
}

tr {
  width: 900px;

}
th {
  width: 200px;
  font-weight: bold;
  border: 2px solid Black;
}

.comparisonTable{
  width: 1000px;  
  border-collapse: collapse;
  border-bottom: 2px Black;
 
}

td {
  border: 1px solid Black;
}

.errorField {
	border: 2px solid Red;
}







